#jumbotron {
    margin: auto;
    text-align: center;
}

#answers {
    text-align: center;
    margin: auto;
}

#answer1, #answer2, #answer3, #answer4 {
    margin: auto;
}

#time, #countdown, #nextQuest {
    margin: auto;
}