
#jumbotron{
    margin: auto;
    text-align: center;
}

#answers{
    text-align: center;
   
}

#answers1,
#answers2,
#answers3,
#answers4{
    margin: auto;
}

#time,
#countdown,
#nextQuest{
    margin: auto;
}
