body{
    background-color: floralwhite;
}

#jumbotron {
    margin: auto;
    text-align: center;
}

#answers {
    text-align: center;
    margin: auto;
}

#answer1, #answer2, #answer3, #answer4 {
    margin: auto;
    background-color: cadetblue;
    color: floralwhite;
}

#time, #countdown, #nextQuest, #question {
    margin: auto;
    background-color: floralwhite;
    color: cadetblue;
}

#image{
    margin: auto;
}

#tagline {
    color:cadetblue;
}

#endScreen, #area{
    font-size: large;
    color: cadetblue;
}
